*.o
*.ko
*.mod.c
*.mod
*.symvers
*.order
*.cmd
*.tmp_versions
*.cpio.gz
*.ko.gz
busybox
busybox-arm64
Image
System.map
initramfs.cpio.gz
.DS_Store
hostshare/
qemu_test/initramfs.cpio.gz
qemu_test/Image
qemu_test/System.map
qemu_test/a64_hook.ko
qemu_test/test_*.ko
qemu_test/busybox*
qemu_test/modules/
